// Colors
$primary-color: #0c23f5;
$background: #f2f3ff;
$text-dark: #213547;
$text-light: rgba(255, 255, 255, 0.87);
$card-bg: #1a1a1a;
$card-bg-light: #f9f9f9;

// Typography
$font-family: 'Inter', sans-serif;
$line-height: 100%;
$font-weight: 500;

// Spacing
$spacing-unit: 8px;